{
  "extends": "stylelint-config-recommended",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "tailwind",
        "variants",
        "@screen",
        "screen"
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "%", "px", "fr"]
  }
}
